<section class="bg-blue-dark h-full py-8">
    <div class="w-5/6 max-w-lg ml-auto mr-auto h-full">


<nav class="bg-blue-lightest h-full py-8" role="navigation">
    <div class="">
        <a href="/" class="" id=""><h1 class="">LOGO SVGG</h1></a>
        <ul>
            <li href="#" id="">Serviços</li>
            <li href="#" id="">Sobre</li>
            <li href="#" id="">Contato</li>
        </ul>
        <ul>
            <li href="#" id="">Abrir minha empresa</li>
        </ul>
    </div>
</nav>
</div>
</section>